`#1.Создать кортеж, содержащий 4 разных числа. Вывести на экран значение второго элемента кортежа`

In [ ]:
numbers = (13, 45, 28, 39)
print("Первое число:", numbers[0])
print("Второе число:", numbers[1])
print("Третье число:", numbers[2])
print("Четвертое число:", numbers[3])
print("Вывести второе число:", numbers[1])

Первое число: 13
Второе число: 45
Третье число: 28
Четвертое число: 39
Вывести второе число: 45



```
#2. Создать список и добавить в него 5 различных элементов. Вывести содержимое списка на экран.

```

In [ ]:
List = ["Apple", "banana", "milk","chiken","black tea", "fish", "tomatoes", "rice", "flowers" ] # 1.
print(f'Текущий список  {List}')
f = input("Введите название:\n")
List.insert(2,f)
print(f'Новый список {List}')
f = input("Введите название:\n")
List.insert(5,f)
print(f'Новый список {List}')
f = input("Введите название:\n")
List.insert(0,f)
print(f'Новый список {List}')
f = input("Введите название:\n")
List.insert(7,f)
print(f'Новый список {List}')
f = input("Введите название:\n")
List.append(f)
print(f'Новый список {List}')

Текущий список  ['Apple', 'banana', 'milk', 'chiken', 'black tea', 'fish', 'tomatoes', 'rice', 'flowers']
Введите название:
Вино
Новый список ['Apple', 'banana', 'Вино', 'milk', 'chiken', 'black tea', 'fish', 'tomatoes', 'rice', 'flowers']
Введите название:
Свечи
Новый список ['Apple', 'banana', 'Вино', 'milk', 'chiken', 'Свечи', 'black tea', 'fish', 'tomatoes', 'rice', 'flowers']
Введите название:
Набор столовых приборов
Новый список ['Набор столовых приборов', 'Apple', 'banana', 'Вино', 'milk', 'chiken', 'Свечи', 'black tea', 'fish', 'tomatoes', 'rice', 'flowers']
Введите название:
Игрушка-гусь
Новый список ['Набор столовых приборов', 'Apple', 'banana', 'Вино', 'milk', 'chiken', 'Свечи', 'Игрушка-гусь', 'black tea', 'fish', 'tomatoes', 'rice', 'flowers']
Введите название:
Кружка
Новый список ['Набор столовых приборов', 'Apple', 'banana', 'Вино', 'milk', 'chiken', 'Свечи', 'Игрушка-гусь', 'black tea', 'fish', 'tomatoes', 'rice', 'flowers', 'Кружка']